@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
body {
  background-color: #F5F5F5;
  font-family: "Prompt", sans-serif;
}

.btn-shopping {
  color: #fff;
  background-color: #F49715;
  border-color: #F49715;
}
.btn-shopping:hover {
  color: #fff;
  background-color: #f08c00;
  border-color: #f08c00;
}

.text-bg-youshop {
  color: #fff;
  background: #F49715;
}
.text-bg-youshop:hover {
  background-color: #f08c00;
}

.text-youshop {
  color: #ff9500;
}

header .navbar.navbar-dark .container-fluid .navbar-brand img {
  width: 10rem;
}
header .navbar.navbar-dark .container-fluid .ref-nav {
  width: 3.5rem;
}
header .navbar.navbar-dark .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #fafafa;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 300;
}
header .navbar.navbar-dark .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #fff;
  text-shadow: 0 0 1px #fff;
}
header .navbar.navbar-dark .container-fluid .navbar-collapse .navbar-nav .nav-item img {
  width: 10rem;
}

.text-category a {
  font-size: 1em;
  text-decoration: none;
  color: #000;
}
.text-category a span {
  background-color: #F49715;
}

main .page-idx nav {
  font-size: 0.85em;
}
main .page-products .sec-filter .list-group .text-category a {
  font-size: 0.85em;
  text-decoration: none;
  color: #000;
}
main .page-products .sec-filter .list-group .text-category a span {
  background-color: #F49715;
}
main .page-products .sec-filter .list-group .form-switch {
  font-size: 0.85em;
}
main .page-products .sec-products .list-products .card .card-body {
  line-height: 0.9em;
}
main .page-products .sec-products .list-products .card .card-body .name-p {
  line-height: 1.25em;
  font-size: 0.875em;
  height: 4.5rem;
}
main .page-products .sec-products .list-products .card .card-body .mark-p {
  font-size: 0.7em;
}
main .page-products .sec-products .list-products .card .card-body .price-p {
  font-weight: bold;
  color: #F49715;
}
main .page-products .sec-products .list-products .card .card-body .input-group .btn {
  color: #F49715;
  font-weight: bolder;
}
main .page-products .sec-products .list-products .card .card-body .input-group .btn:focus {
  box-shadow: none;
}
main .page-products .sec-products .list-products .card .card-body .input-group input {
  font-size: 0.75em !important;
  border: 0;
}
main .page-products .sec-products .list-products .card .card-body .input-group input::-webkit-outer-spin-button, main .page-products .sec-products .list-products .card .card-body .input-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}
main .page-products .sec-products .list-products .card .card-body .btn-quantity {
  font-size: 0.85em;
  color: black;
  border-color: #F49715;
}
main .page-products .sec-products .list-products .card .card-body .btn-quantity:hover {
  color: white;
  border-color: #F49715;
  background-color: #F49715;
}

.shopping-items tr td {
  font-size: 0.8em;
}
.shopping-items tr td img {
  width: 3.5rem;
}
.shopping-items tr td .input-group .btn {
  color: #F49715;
  font-weight: bolder;
}
.shopping-items tr td .input-group .btn:focus {
  box-shadow: none;
}
.shopping-items tr td .input-group input {
  font-size: 1em !important;
  width: 0.85rem;
  border: 0;
}
.shopping-items tr td .input-group input::-webkit-outer-spin-button, .shopping-items tr td .input-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}
.shopping-items tr .item-name {
  width: 17.5rem;
}
.shopping-items tr .item-price {
  font-weight: bold;
}
.shopping-items tr .item-trash {
  font-size: 1rem;
}

footer .footer-info div h6 {
  font-weight: bold;
}
footer .footer-info div ul li {
  font-size: 0.85em;
}
footer .footer-info:nth-child(1) img {
  width: 10rem;
}
footer .footer-copy {
  background-color: #414141;
}
footer .footer-copy span {
  font-size: 0.75em;
}

.check-shop i {
  font-size: 7.5em;
  --fa-primary-color: #ff9500;
  --fa-secondary-color: #f1f1f1;
  --fa-secondary-opacity: 1.0;
}
.check-shop h4 {
  font-weight: bolder;
  font-size: 1.5em;
}
.check-shop div p {
  font-size: 1.1em;
}

/*# sourceMappingURL=style.css.map */
